.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"],
.my-form input[type="email"],
.my-form textarea{
    padding:8px;
    width:100%;
    font-size:larger ;
}

.button{
    padding: 8px 16px;
    margin:0.2em 0;
    text-align: center;
    border: none;
    border-radius: 0.2em;
    font-size: 1rem;
    color: white;
    background:burlywood;
}

.button:hover{
    background:#E74B37;
    cursor:pointer;
}

.my-list li:nth-child(2){
color: red;
}

.my-list li:last-child{
    color:green;
}

.my-list li:nth-child(odd){
    color:blue;
}